html {
  font-size: 1em;
  line-height: 1.4;
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  text-shadow: none
}
::selection {
  text-shadow: none
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio, canvas, img, svg, video {
  vertical-align: middle
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical
}
/* Font config */
/*
  Primairy color: rgba(62,62,62,0.9)
  Accent color:   rgba(182,0,16,1);
*/

/* Font coloring */
/*
  ** Font opacity/contrast settings
  h1,h2,h3,h4,span.caption{opacity:0.70}
  h5,h6,span.subhead,span.body2,span.body1,span.button{opacity:1}
  .diabled{opacity:30}
  .divider{opacity:0.12}
*/

/* Following code is from google MDL's typography section */
html, body {
  font-family: 'Josefin Sans', "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0
}
/**
  * Styles for HTML elements
  */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-family: 'Josefin Sans', "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  opacity: 0.54;
  font-size: 0.6em
}
h1 {
  font-family: inherit;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-top: 24px;
  margin-bottom: 24px
}
h2 {
  font-family: inherit;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px
}
h3 {
  font-family: inherit;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 24px;
  margin-bottom: 24px
}
h4 {
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 24px;
  margin-bottom: 16px
}
h5 {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-top: 24px;
  margin-bottom: 16px
}
h6 {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin-top: 24px;
  margin-bottom: 16px
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 16px
}
a {
  font-weight: inherit;
  font-size: inherit;
}
blockquote {
  font-family: inherit;
  position: relative;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.35;
  letter-spacing: 0.08em
}
blockquote:before {
  position: absolute;
  left: -0.5em;
  content: 'â€œ'
}
blockquote:after {
  content: 'â€';
  margin-left: -0.05em
}
dt {
  font-weight: 700
}
address {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  font-style: normal
}
ul, ol {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0
}
/**
 * Class Name Styles
 */
.text-display-4 {
  font-family: inherit;
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.04em
}
.text-display-3 {
  font-family: inherit;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em
}
.text-display-2 {
  font-family: inherit;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px
}
.text-display-1 {
  font-family: inherit;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px
}
.text-headline {
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale
}
.text-title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.02em
}
.text-subhead {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em
}
.text-body-2 {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0
}
.text-body-1 {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0
}
/* Backed up original
.text-caption {
    font-family: inherit;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    opacity: 0.87
}
*/

.text-caption {
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  opacity: 0.87;
  margin: 4px;
}
.text-menu {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0
}
.text-button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0
}
.md-btn.small > .text-button {
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.02em
}
.text-small {
  font-family: inherit;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  opacity: 0.87;
}
/* Google MDL copy end */

/* The following CSS resets the behaviour of <a> elements used in a button */
.button a, .button a:link, .button a:visited, .button a:hover, .button a:active {
  text-decoration: none;
  color: inherit
}
header > .title,
.menu-title span {
  font-family: inherit;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.menu-title span {
  line-height: 24px
}
.menu-icon {
  font-size: 24px !important;
}
/* Google Material design icon setup
   Embed as: <i class="material-icons md-24">face</i>
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px
}
.material-icons.md-24 {
  font-size: 24px
}
.material-icons.md-36 {
  font-size: 36px
}
.material-icons.md-48 {
  font-size: 48px
}
.material-icons {
  vertical-align: middle;
  font-size: inherit;
}
.link {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
}
.underline {
  text-decoration: underline;
}
.center {
  text-align: center !important;
}
.tag {
  font-size: 13px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}
