.poc {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  box-sizing: border-box;
}
.kaomoji {
  display: block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: -0.02em
}
.kaomojiCard {
  width: 100%;
}
.token {
  display: flex;
  justify-content: center;
}
