<div class="poc kaomoji-block">
  <div id="kaomoji">{{ kaomoji }}</div>
  <div class="poc kaomoji card elevation-0 kaomojiCard">
    <div class="title">
      <span class="text-title">Kaomoji</span>
    </div>
    <div class="body">
      <div class="kaomoji">
        {{ kaomoji }}
      </div>
    </div>
  </div>
</div>



