{#
/**
 * @file
 * Default theme implementation to print Lorem ipsum text.
 *
 * Available variables:
 *   - source_text
 *
 * @see template_preprocess_poc()
 *
 * @ingroup themeable
 */
#}
<div class="poc kaomoji">
    {% for item in source_text %}
        <p>{{ item }}</p>
    {% endfor %}
</div>
