<div class="poc card elevation-0 kaomojiCard">
  <div class="title">
    <h2 id="block-bootstrap-tools-menu">Tools</h2>
  </div>
  <div class="body">
    <div class="kaomoji">
      {{ kaomoji }}
    </div>
  </div>
</div>



