<h2 id="block-bootstrap-tools-menu">Kaomoji</h2>
<div class="poc card no-margin elevation-0 kaomojiCard">
  <div class="body">
    <div class="kaomoji">
      {{ kaomoji }}
    </div>
  </div>
</div>
