<div class="poc token">
  <div class="card card-raised">
    <div class="title">
      <span class="text-title">
          Token:
      </span>
    </div>
    <div class="body">
      <p class="text-body-2">Your generated token is:</p>
      <pre>{{ token }}</pre>
    </div>
  </div>
</div>
