<div class="poc token-view">
  <div class="card card-raised">
    <div class="title">
      <span class="text-title">
          Kaomoji
      </span>
    </div>
    <div class="body">
      <p class="md-input text-body-2">Your generated token:</p>
      <pre>{{ token }}</pre>
    </div>
  </div>
</div>
